[submodule "dependencies/websocket-tools"]
	path = dependencies/websocket-tools
	url = https://github.com/AlexHarker/websocket-tools
[submodule "dependencies/bonjour-for-cpp"]
	path = dependencies/bonjour-for-cpp
	url = https://github.com/AlexHarker/bonjour-for-cpp
[submodule "dependencies/civetweb"]
	path = dependencies/civetweb
	url = https://github.com/civetweb/civetweb
